@font-face {
  font-family: 'KOTRAHOPE';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* .App {
  height:100vh;
  background-image: url("../public/suu.jpg"); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-color: #fbebeb;
  margin-left: auto;
  margin-right: auto;
  max-width: 28rem;
  position: relative;
  border: 2px solid #ccc; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

body {
  font-family: 'KOTRAHOPE';
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #282c34; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.sidebar {
  width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    position: absolute;
    z-index: 2;
    top: 47px;
    left: 200px;
    border-radius: 10px;
}
.chat-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar-container {
  width: 20%;
  height: 100%;
}

.chatting{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* background-color: #282c34; */
}

.chatting_wrapper{
  width: 25vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}

.chatting_box{
  /* background-color: #e2e5fe; */
  background-color: #f9f6f6;
  height: 75vh;
  text-align: left;
  overflow-y: auto;
}

.msg{
  background-color: #fdf3ce;
  margin: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  border-radius: 3px;
  word-break: break-all;
  max-width: 50%;
  font-size: medium;
 }



 /* .msg::after{
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #57ab66;
  display: block;
  position: absolute;
  margin-left: -5px;
} */

 .msg_center{
  /* background-color: lightcyan; */
  margin: 10px;
  width: fit-content;
  border-radius: 10px;
  word-break: break-all;
  max-width: 50%;
  font-size: 18px;
 }


.msg_date {
  background-color: #e0e0e0; 
}

.msg_box{
  position: relative;
  display: flex;
  margin: 5px;
}

.msg_me {
  background-color: #e5e3e3; 
  margin: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  border-radius: 7px;
  word-break: break-all;
  max-width: 50%;
  font-size: 18px;
  word-break: break-word; 
  white-space: pre-wrap;
}

.msg_other {
  background-color: #7c9dff; 
  margin: 10px 0;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  border-radius: 7px;
  word-break: break-all;
  max-width: 50%;
  font-size: 18px;
  word-break: break-word;
  white-space: pre-wrap;
}

.login{
  background-color: #282c34;
  /* position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px; */
  width: 25%;
  height: 90%;
  object-fit: cover;
  /* z-index: -1; */
  border-radius: 10px;
  background: url('/public/바다.gif') no-repeat center center;
  background-size: cover;
}

.login video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 90%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  /* z-index: -1; */
  border-radius: 10px;
}

.login_wrapper{
  background-color: #000000;
  opacity: 50%;
  font-size: small;
  padding: 13px 50px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
  color: #fff;
  margin-top: 10px;
  font-size: 15px;
}


.login_wrapper button{
  /* margin: 5px;
  cursor: pointer;
  border-radius: 5px; */
  width: 65px;
  height: 50px;
  background: url('/public/몰티즈3.png') no-repeat center center; /* 버튼 이미지 설정 */
  background-size: cover; /* 버튼 이미지 크기 설정 */
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}
/* button.enter_btn {
  width: 65px;
  height: 50px;
  background: url('/public/몰티즈1.png') no-repeat center center; 
  background-size: cover; 
  border: none;
  cursor: pointer;
} */

.login_wrapper button:hover {
  width: 65px;
  height: 50px;
  background: url('/public/몰티즈2.png') no-repeat center center; /* 버튼 이미지 설정 */
  background-size: cover; /* 버튼 이미지 크기 설정 */
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}


.input_box{
  position: relative;
  background-color: rgb(244, 252, 255);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: baseline;
  border-radius: 0 0 10px 10px;
}

.input_box input{
  flex: 1;
  width: 100%;
  border: 0;
  height: 40px;
  border-radius: 5px;
  padding-right: 10px;
  margin-right: 75px;
  background-color: #ebebeb;
  font-family: 'KOTRAHOPE';
  font-size: 17px;
}


.input_box .box {
  background-color: #000000;
  width: 2px;
}

/* .input_box button{
  position: absolute;
  right: 10px; /* input_box의 오른쪽 여백 
  top: 50%;
  transform: translateY(-50%);
  height: 42px;
  padding: 0 20px;
  background-color: #c9e2fe;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 150px;
} */

.login_wrapper input{
  margin: 5px;
  border: 0;
  display: flex;
}

/* button:hover{
  background-color: rgb(251, 209, 215);
} */

.nickname_style{
  font-size: 10px;
  position: absolute;
  top: -8px;
  left: 55px;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
}


/* 스크롤 폭 */
::-webkit-scrollbar {
  width: 5px;
}

/* 스크롤 트렉 */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #dce3fb;
}

/* 스크롤 핸들 */
::-webkit-scrollbar-thumb {
  background: #dce3fb;
}


.input_box button{
  position: absolute;
  right: 1px; 
  top: 50%;
  transform: translateY(-50%);
  height: 42px;
  padding: 0 40px;
  /* background-color: #c9e2fe;
  color: white; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 65px;
  height: 50px;
  background: url('/public/리트리버.gif') no-repeat center center; /* 버튼 이미지 설정 */
  background-size: cover; /* 버튼 이미지 크기 설정 */
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}


.date_box {
  display: flex;
  justify-content: center;
  margin: 10px 105px;
  background-color: #e0e0e0; /* 날짜 메시지 배경색 */
  border-radius: 5px;
  font-size: 20px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: -7px;
  margin-right: 8px;
}


.toggle-sidebar-btn {
  position: absolute; 
  z-index: 1;
  background-color: #7c9dff;
  color: #4F4C66;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  top: 12%;
  left: 65.1%;
  transform: translate(-50%, -56%);
  font-family: 'KOTRAHOPE';
  font-size: 20px;
}


.toggle-roomlist-btn {
  position: absolute;
    z-index: 1;
    background-color: #7c9dff;
    color: #4F4C66;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    top: 13%;
    left: 65.1%;
    transform: translate(-48%, 46%);
    font-family: 'KOTRAHOPE';
    font-size: 20px;
}

.room-list-container {
  overflow-y: auto;
  border-radius: 10px;
  background-color: #f9f6f6;
  padding: 15px;
  width: 25%;
  height: 90%;
}

.current-room-name {
  position: absolute;
  transform: translateX(-50%);
  font-size: 1.5em;
  color: #4f4c66;
  background-color: #d5def8;
  padding: 10px 160px;
  border-radius: 5px 5px 0 0;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: 4vw; 
  overflow: hidden; 
  white-space: nowrap;

  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}